backcall==0.2.0
certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cycler==0.11.0
dataclasses==0.8
decorator==5.1.1
entrypoints==0.3
Flask==2.0.3
idna==3.3
importlib-metadata==4.8.3
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.17.0
Jinja2==3.0.3
joblib==1.1.0
jupyter-client==7.1.2
jupyter-core==4.8.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.4
nest-asyncio==1.5.1
numpy==1.19.5
pandas==1.1.5
parso==0.8.3
patsy==0.5.2
pickleshare==0.7.5
Pillow==8.4.0
pip==21.2.2
prompt-toolkit==3.0.20
Pygments==2.11.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
pypiwin32==223
pyzmq==22.2.1
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
setuptools==58.0.4
six==1.16.0
statsmodels==0.12.2
threadpoolctl==3.1.0
tornado==6.1
traitlets==4.3.3
typing_extensions==4.1.1
urllib3==1.26.12
wcwidth==0.2.5
Werkzeug==2.0.3
wheel==0.37.1
wincertstore==0.2
zipp==3.6.0
